# Read Data From Json

In [15]:
import json

In [19]:
fd=open('records.json','r')
r=fd.read()
fd.close()

In [11]:
records=json.loads(r)

In [20]:
records

{'12691': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '12692': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '12693': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '12694': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '12695': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '12696': {'name': 'Phone', 'pr': 50000, 'qn': 9},
 '12697': {'name': 'Mic', 'pr': 1500, 'qn': 5},
 '12698': {'name': 'Dairy Milk', 'pr': 50, 'qn': 10}}

# Add New Item in Json File

In [14]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
a=list(records.items())
for i in range(len(a)):
   if (prod_id==a[i][0]):
       b=a[i][1]
       b['qn']+qn
   else:
        records[prod_id]={'name':name,'pr':pr,'qn':qn}
js = json.dumps(records)

fd = open("records.json",'w')
fd.write(js)
fd.close()

Enter product id:12698
Enter name:Dairy Milk
Enter price:50
Enter quantity:10

# Purchase Product

In [35]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))

a=list(records.items())
c=0
for i in range(len(a)):
   if (ui_prod==a[i][0] and records[ui_prod]['qn']!=0):
       b=a[i][1]
       print("Product: ", b['name'])
       print("Price: ", b['pr'])
       print("Billing Amount: ", b['pr'] * ui_quant)
       b['qn'] = b['qn'] - ui_quant
       c+=1
if c==0:
    print('Sorry!, This product is not available')

Enter the product_Id: 12692
Enter the quantity: 4
Product:  Milk Cake
Price:  800
Billing Amount:  3200

# Update Inventery After Purchse

In [18]:
js = json.dumps(records)

fd = open("records.json",'w')
fd.write(js)
fd.close()

# Sales Json

In [29]:
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

{'amount': 500, 'prod': '12691', 'qn': 5}

In [36]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}}

In [37]:
sales[len(sales)+1]={'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

In [38]:
sale = json.dumps(sales)

In [39]:
sale

'{"1": {"prod": "12692", "qn": 4, "amount": 3200}, "2": {"prod": "12692", "qn": 4, "amount": 3200}, "3": {"prod": "12692", "qn": 4, "amount": 3200}, "4": {"prod": "12692", "qn": 4, "amount": 3200}}'

In [40]:
fd=open('sale.json','w')
r=fd.write(sale)
fd.close()